/* Common css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI Regular", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(70, 75, 79);
  background: #fff;
}

h1,
h2 {
  font-size: 80px;
  text-transform: uppercase;
  margin: 50px 0;
  text-align: center;
}

h4 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: 700;
}

p {
  font-size: 18px;
  margin: 10px 0px;
}

a {
  color: rgb(123, 119, 201);
}

table,
th,
tr,
td {
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 3px 5px;
}

form input {
  border: none;
}

img {
  border: none;
  max-width: 100%;
  text-align: center;
}

section,
header,
footer {
  padding: 50px 0px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.section_dark_bg {
  background: rgb(35, 35, 46);
  color: #fff;
}

.section_light_bg {
  background: url(images/bg.png) no-repeat;
  background-size: 100% auto;
  color: rgb(70, 75, 79);
}

.btn {
  width: 250px;
  padding: 20px 30px;
  border: none;
  background: rgb(123, 119, 201);
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  margin: 30px 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #6966A9;
}


/* header section style */

#header_section {
  text-align: center;
}

#logo {
  width: 130px;
  height: auto;
  margin: 0 auto;
}

#site_tagline {
  padding: 0 250px;
}

#header_section a {
  width: 50px;
  display: block;
  height: auto;
  margin: 0px auto;
  margin-top: 100px;
}


/* about section css */

.about_me p {
  text-align: center;
  font-size: 30px;
  padding: 20px 50px;
}

.what_i_do {
  overflow: hidden;
}

.service_item {
  width: 30%;
  margin-right: 5%;
  float: left;
}

.service_item:last-child {
  margin-right: 0px;
}

.service_item p {
  color: #888a8b;
}


/* work section style */

.work_gallery {
  overflow: hidden;
  text-align: center;
}

.work_gallery ul {
  list-style: none;
  margin-bottom: 50px;
}

.work_gallery li {
  display: inline-block;
  margin: 10px;
}

.work_gallery li a {
  display: block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid transparent;
}

.work_gallery li:hover>a,
.work_gallery li.active>a {
  border-bottom: 1px solid rgb(123, 119, 201);
}

div[class*='item'] {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 40px;
  perspective: 1000%;
}

div[class*='item']:nth-of-type(3n) {
  margin-right: 0px;
}

.gal_item img {
  transform: rotateY(0deg);
  transition: transform 0.9s ease-in-out;
}

.gal_item:hover img {
  transform: rotateY(360deg);
}

.gal_item a {
  text-decoration: none;
  display: block;
  color: #818baa;
}

.gal_item .caption {
  font-size: 21px;
  color: #fff;
  margin-bottom: 0;
}


/* photoblog section style */

#photoblog_section {
  text-align: center;
}

.about_photoblog {
  font-size: 30px;
  padding: 0px 50px 0px 50px;
  margin-bottom: 50px;
}


/* subscribe section style */

#subscribe_section p {
  text-align: center;
  padding: 30px 300px;
}

.infinity_icon {
  width: 90px;
  height: auto;
  margin: 0px auto;
}

#subscribe_section form {
  width: 650px;
  margin: 0 auto;
}

#subscribe_section form input {
  width: 380px;
  height: 60px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  padding: 20px;
}

#subscribe_section form button {
  height: 60px;
  vertical-align: middle;
}


/* footer section style */

footer {
  text-align: center;
}

.social_icons>a {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 20px 10px;
  text-decoration: none;
}


/*
.social_icons a img{
	vertical-align: middle;
	transform: scale(1);
	transition: transform 0.5s ease-in-out;
}
*/


/*
.social_icons a:hover img {
  transform: scale(1.4);
}*/

.social_icons a i {
  display: block;
  font-size: 30px;
  color: #ddd;
  vertical-align: middle;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.social_icons a:hover i {
  transform: scale(1.4);
  color: rgb(123, 119, 201);
  ;
}

footer p {
  color: #7c7c7c;
  margin: 30px 0;
}
