* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

body {
  font-family: arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

section,
footer {
  padding: 1.2em;
}


/* menu style */

.menu {
  background-color: #29455d;
}

.menu>li {
  border-top: 0.071em solid #1d3143;
  border-bottom: 0.071em solid #355977;
}

.menu li a {
  display: block;
  text-decoration: none;
  padding: 0.8em 1.2em;
  color: #fff;
}

.menu li:hover>a {
  background-color: #fe7c60;
  color: #29455d;
}

.menu li a:active {
  background-color: #e84b3a;
}


/* sub menu style */

.menu ul {
  background: #48647c;
}

.menu ul>li {
  border-top: 0.071em solid #31495d;
  border-bottom: 0.071em solid #4e708d;
}

.menu ul a {
  text-indent: 1em;
  white-space: nowrap;
}

.menu ul a:before {
  content: ">>";
  margin-right: 3px;
}

@media screen and (min-width: 799px) {
  .menu ul {
    display: none;
    position: absolute;
    left: 0px;
    min-width: 150px;
    top: 100%;
    z-index: 100;
  }
  .menu:before,
  .menu:after {
    content: '';
    display: block;
    clear: both;
  }
  .menu li {
    float: left;
    position: relative;
  }
  .menu>li {
    border-top: none;
    border-bottom: none;
    border-right: 0.071em solid #1d3143;
    border-left: 0.071em solid #355977;
  }
  .menu>li:last-child {
    border-right: none;
  }
  .menu>li:first-child {
    border-left: none;
  }
  /* submenu style */
  .menu ul li {
    width: 100%;
  }
  .menu ul>li:first-child {
    border-top: none;
  }
  .menu ul>li:last-child {
    border-bottom: none;
  }
  .menu ul li a {
    width: 100%;
    padding-left: 1.2em;
    text-indent: 0px;
  }
  .menu ul li a:before {
    display: none;
  }
  /* display the menu */
  .menu li:hover ul {
    display: block;
  }
}
